.header {
    max-width: 100%;
    max-height: 6em;
    display: flexbox;
    background-color: #ff4500;
    margin-top: 0.5%;
}

.logo {
    height: 6em;
    width: auto;
    justify-content: center;
    align-self: center;
}


    