/* Global styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Header styles */

.header {
  width: 90%;
  max-height: 7em;
  background-color: #ff4500;
  margin-top: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.logo {
  height: 7em;
  width: auto;
  justify-content: center;
  align-self: center;
}

/* Container styles */

.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-top: 2.7%;
    
}

/* Posts style */

.posts {
  width: 65%;
  background-color: gray;
  height: 300px; /*hard codded for design purposes*/
}


/* Subreddits styles */

.subredits {
  display: flex;
    flex-direction: column;
    width: 32%;
    background-color: #ffece6;
    height: 300px; /* hard coded for design purposes */
    border-radius: 20px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: #3D3D3D;
  padding-left: 7%;
  height: fit-content;
  flex-wrap: wrap;
}

.searchBar_container {
  display: flex;
  height: fit-content;
}

.searchBar {
  display: inline-flex;
  justify-content: center; 
}

input {
  border: 2px solid #3D3D3D;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #656880;
  height: 2em;
  border-radius: 5px;
}


/* --- Breakpoints --- */

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .subredits {
    width: 80%;
    margin-bottom: 3%;
  }

  .posts {
    width: 90%;
  }

  .header {
    height: 5em;
  }

  .logo {
    height: 5em;
  }
} 

@media only screen and (max-width: 500px) {
  .subredits {
    width: 90%;
  }
}